Microsoft.Flow/flows/4003af2b-3172-48ef-8beb-a355a43a4d15/definition.json
{"name":"9f512eb0-5dfb-47f5-9084-d7ff15812396","id":"/providers/Microsoft.Flow/flows/9f512eb0-5dfb-47f5-9084-d7ff15812396","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Read information from invoices","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"784611d9-647b-4f6d-90ab-55672037d953","type":"User","tenantId":"fa8ca91c-4f89-415e-8fd6-7b6c090ca06c"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-03-28T06:47:09.2997061Z","connectionKeySavedTimeKey":"2025-03-28T06:47:09.2997061Z","creationSource":"Portal","modifiedSources":"Portal"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{"file":{"title":"Invoice file","type":"object","x-ms-dynamically-added":true,"description":"Please select an invoice file (supported file formats: .PDF, .PNG, .JPEG)","x-ms-content-hint":"FILE","properties":{"name":{"type":"string"},"contentBytes":{"type":"string","format":"byte"}}}},"required":["file"]}},"description":"To try out this flow, just click Save on the top of this page and then click Test where you will be asked to upload an invoice to process. This flow is provided as a sample, feel free to modify it to tailor it to your needs."}},"actions":{"Extract_information_from_invoices":{"runAfter":{},"metadata":{"flowSystemMetadata":{"portalOperationId":"aibuilderpredict_invoiceprocessingpretrained","portalOperationGroup":"aibuilder","portalOperationApiDisplayNameOverride":"AI Builder","portalOperationIconOverride":"https://content.powerapps.com/resource/makerx/static/pauto/images/designeroperations/aiBuilderNew.51dbdb6b.png","portalOperationBrandColorOverride":"#0A76C4","portalOperationApiTierOverride":"Standard"}},"type":"OpenApiConnection","inputs":{"parameters":{"item/requestv2/base64Encoded":"@triggerBody()['file']['contentBytes']","recordId":"5ed4d0fd-e9d4-4026-b09b-71f83ea90c60"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"aibuilderpredict_invoiceprocessingpretrained"},"authentication":"@parameters('$authentication')"},"description":"This action will extract the data from the invoice you upload using Artificial Intelligence. Learn more about its capabilities at https://aka.ms/LearnInvoiceProcessing"},"Get_my_profile_(V2)":{"runAfter":{"Create_HTML_table":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users","connectionName":"shared_office365users","operationId":"MyProfile_V2"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"description":"This action retrieves your email address to be able to send you an email with the extracted information from the invoice."},"Send_an_email_(V2)":{"runAfter":{"Get_my_profile_(V2)":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@outputs('Get_my_profile_(V2)')?['body/mail']","emailMessage/Subject":"Invoice processed","emailMessage/Body":"<p><span style=\"font-size: 16px\">Congratulations </span><span style=\"font-size: 16px\">@{outputs('Get_my_profile_(V2)')?['body/givenName']}</span><span style=\"font-size: 16px\">! Your Power Automate flow ran successfully. Here are some of the fields extracted from the attached invoice by AI Builder Invoice Processing:</span><span style=\"font-size: 16px\"><strong><br>\n<br>\nInvoice ID</strong></span><span style=\"font-size: 16px\">: </span><span style=\"font-size: 16px\">@{outputs('Extract_information_from_invoices')?['body/responsev2/predictionOutput/result/fields/invoiceId/valueText']}</span><span style=\"font-size: 16px\"> (confidence score: </span><span style=\"font-size: 16px\">@{outputs('Extract_information_from_invoices')?['body/responsev2/predictionOutput/result/fields/invoiceId/confidence']}</span><span style=\"font-size: 16px\">)<br>\n<br>\n</span><span style=\"font-size: 16px\"><strong>Invoice Date, as written on the invoice</strong></span><span style=\"font-size: 16px\">: </span><span style=\"font-size: 16px\">@{outputs('Extract_information_from_invoices')?['body/responsev2/predictionOutput/result/fields/invoiceDate/valueText']}</span><span style=\"font-size: 16px\"> (confidence score: </span><span style=\"font-size: 16px\">@{outputs('Extract_information_from_invoices')?['body/responsev2/predictionOutput/result/fields/invoiceDate/confidence']}</span><span style=\"font-size: 16px\">)<br>\n<br>\n</span><span style=\"font-size: 16px\"><strong>Invoice Date, in standardized date format</strong></span><span style=\"font-size: 16px\">: </span><span style=\"font-size: 16px\">@{outputs('Extract_information_from_invoices')?['body/responsev2/predictionOutput/result/fields/invoiceDate/valueDate']}</span><span style=\"font-size: 16px\"><br>\n<br>\n</span><span style=\"font-size: 16px\"><strong>Invoice Total, as written on the invoice</strong></span><span style=\"font-size: 16px\">: </span><span style=\"font-size: 16px\">@{outputs('Extract_information_from_invoices')?['body/responsev2/predictionOutput/result/fields/invoiceTotal/valueText']}</span><span style=\"font-size: 16px\"> (confidence score: </span><span style=\"font-size: 16px\">@{outputs('Extract_information_from_invoices')?['body/responsev2/predictionOutput/result/fields/invoiceTotal/confidence']}</span><span style=\"font-size: 16px\">)<br>\n<br>\n</span><span style=\"font-size: 16px\"><strong>Invoice Total, in standardized number format: </strong></span><span style=\"font-size: 16px\"></span><span style=\"font-size: 16px\">@{outputs('Extract_information_from_invoices')?['body/responsev2/predictionOutput/result/fields/invoiceTotal/valueNumber']}</span><span style=\"font-size: 16px\"><br>\n<br>\n</span><span style=\"font-size: 16px\"><strong>Line items:</strong></span><span style=\"font-size: 16px\"><br>\n</span><span style=\"font-size: 16px\">@{body('Create_HTML_table')}</span><span style=\"font-size: 16px\"><br>\n<br>\nLearn more about AI Builder Invoice Processing and the information it can extract: </span><a href=\"https://go.microsoft.com/fwlink/?linkid=2148225\"><span style=\"font-size: 16px\">https://go.microsoft.com/fwlink/?linkid=2148225</span></a></p>","emailMessage/Attachments":[{"Name":"@string(triggerBody()?['file']?['name'])","ContentBytes":"@triggerBody()['file']['contentBytes']"}]},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Create_HTML_table":{"runAfter":{"Extract_information_from_invoices":["Succeeded"]},"type":"Table","inputs":{"from":"@outputs('Extract_information_from_invoices')?['body/responsev2/predictionOutput/result/items']","format":"HTML","columns":[{"header":"Description","value":"@item()?['fields/description/valueText']"},{"header":"Quantity","value":"@item()?['fields/quantity/valueNumber']"},{"header":"Amount","value":"@item()?['fields/amount/valueNumber']"}]},"description":"This action puts the line items present on the invoice in a table that will be sent to you by email."},"Add_a_row_into_a_table":{"runAfter":{"Send_an_email_(V2)":["Succeeded"]},"metadata":{"01XSPCHHCLGOUDLTTJDRAZX6TRPKELUSNN":"/Documents/Invoice.xlsx","tableId":"{CE966D0B-BC16-4420-9B9E-A4175F17E7D1}"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"me","drive":"b!fpMvdc7BzkSlE7tj4HBhtPs0VKv717BEvIt7jz6dFLNnf3kbCp7WS4rp0DO09hfO","file":"01XSPCHHCLGOUDLTTJDRAZX6TRPKELUSNN","table":"{CE966D0B-BC16-4420-9B9E-A4175F17E7D1}","item/Invoice ID":"@outputs('Extract_information_from_invoices')?['body/responsev2/predictionOutput/result/fields/invoiceId/valueText']","item/Vendor":"@outputs('Extract_information_from_invoices')?['body/responsev2/predictionOutput/result/fields/vendorName/valueText']","item/Due Date":"@outputs('Extract_information_from_invoices')?['body/responsev2/predictionOutput/result/fields/dueDate/valueDate']","item/Total Amount":"@outputs('Extract_information_from_invoices')?['body/responsev2/predictionOutput/result/fields/invoiceTotal/valueNumber']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"AddRowV2"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"outputs":{}},"connectionReferences":{"shared_commondataserviceforapps":{"connectionName":"shared-commondataser-c1a2169b-cf9d-4707-942b-a44b44b3bd58","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","tier":"NotSpecified","apiName":"commondataserviceforapps"},"shared_office365users":{"connectionName":"shared-office365user-04cf2217-1f08-449e-9706-eacf5258d0a4","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_office365users","tier":"NotSpecified","apiName":"office365users"},"shared_office365":{"connectionName":"shared-office365-f2f13378-df5d-4f81-b449-f6b5b1e692c4","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified","apiName":"office365"},"shared_excelonlinebusiness":{"connectionName":"shared-excelonlinebu-28340dc1-0328-4b04-8b91-6eb46d6857b7","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified","apiName":"excelonlinebusiness"}},"flowFailureAlertSubscribed":false,"isManaged":false}}